.input_search {
  background: #fff no-repeat 13px 13px;
  border: none;
  width: 100%;
  line-height: 19px;
  padding: 11px 0;
  margin-bottom: 5px;

  border-radius: 2px;
  box-shadow: 0 2px 8px #c4c4c4 inset;
  text-align: left;
  font-size: 14px;
  font-family: inherit;
  color: #738289;
  font-weight: bold;
  outline: none;
  text-indent: 40px;
}
.bar {
  padding: 15px;
  background-color: #5392ad;
  border-radius: 2px;
}
.text_item {

  background: #ffffff;
  border: 1px solid #e1e8ed;
  border-color: #e1e8ed;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: -1px;
}
.margin_col {
  margin-top: 20px;
}
